
/public/hot
/public/storage
/storage/*.key
/node_modules/.cache
.env
.env.backup
.phpunit.result.cache

*.swp
*.swo
.DS_Store

docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
